@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: 'Poppins';
    color: #383838;
    background: #F5F4F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    width: 294px;
    margin: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 113.5%;
}

.main-container {
    width: 532px;
}

.main-title {
    height: 190px;
    background: #E8E7E9;
    border-radius: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title h1 {
    margin: 0;
}

.main-title h2 {
    margin: 0;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input {
    width: 167.33px;
    height: 140px;
    background: #E8E7E9;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input input {
    width: 45px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 6px;
    border: transparent;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 113.5%;
    text-align: center;
}

.formula-container {
    width: 167.33px;
    height: 140px;
    background: #E8E7E9;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-container {
    width: 349px;
    height: 140px;
    background: #E8E7E9;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output {
    font-weight: 600;
    font-size: 50px;
    margin: 0;
    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.by-container {
    width: 349px;
    height: 140px;
    background: #E8E7E9;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.by-container span {
    color: #7B7B7B
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 167.33px;
    height: 140px;
    background: #E8E7E9;
    border-radius: 28px;
}

.logo-container:hover {
    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);

}

.logo-container svg {
    margin: 0;
    padding: 0;
}

